.spot-image-container {
    display: flex;
    gap: 5px;
    flex-direction: row;
}

.spot-image-container img:hover {
    filter: brightness(0.9);
}

.spot-image-left-container {
    position: relative;
    width: 575px;
    height: 575px;
    overflow: hidden;
}

.spot-image-left-container img {
    position: absolute;
    width: 575px;
    height: 575px;
    object-fit: cover;
    border-radius: 15px 0px 0px 15px;
}

.spot-image-right-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 575px;
    height: 575px;
    overflow: hidden;
    gap: 5px;
    border-radius: 0px 15px 15px 0px;
}

.spot-image-right-top-container {
    display: flex;
    width: 100vw;
    height: 287.5px;
    gap: 5px;
}

.spot-image-right-top-container img {
    object-fit: cover;
    width: 287.5px;
}

.spot-image-right-bottom-container {
    display: flex;
    width: 100vw;
    height: 287.5px;
    gap: 5px;
}

.spot-image-right-bottom-container img {
    object-fit: cover;
    width: 287.5px;
}
