.carousel-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.carousel-left-button {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;

    left: 20px;
    height: 30px;
    width: 30px;
    border-radius: 100%;

    background-color: white;

    z-index: 10;

    transition: all 0.3s ease;
}

.carousel-left-button:hover {
    left: 19px;
    height: 32px;
    width: 32px;
    transition: all 0.3s ease;
}

.carousel-right-button {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;

    right: 20px;
    height: 30px;
    width: 30px;
    border-radius: 100%;

    background-color: white;

    z-index: 10;

    transition: all 0.3s ease;
}

.carousel-right-button:hover {
    right: 19px;
    height: 32px;
    width: 32px;
    transition: all 0.3s ease;
}

.invisible {
    opacity: 0;
    transition: all 0.2s ease-in;
}

.visible {
    opacity: 1;
    box-shadow: 0px 5px 10px rgb(0, 0, 0);
    transition: all 0.2s ease-in;
}

.hidden-left {
    display: none;
    transform: translate(10px, 0px);
    transition: transform 1s ease;
}

.hidden-right {
    display: none;
    transform: translate(10px, 0px);
    transition: transform 1s ease;
}

.spot-image {
    width: 20em;
    height: 20em;
    object-fit: cover;
    border-radius: 10px;

    transition: filter 0.2s ease;
}

.spot-image:hover {
    filter: brightness(0.9);
}
