#login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#login-form>input {
    height: 15px;
    width: 375px;
    outline: none;

    padding: 15px;
}

#login-form-email-input {
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

#login-form-email-input:focus {
    border: 2px solid black;
    width: 373px;
    height: 13px;
}

#login-form-password-input {
    border-top: none;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

#login-form-password-input:focus {
    border: 2px solid black;
    width: 373px;
    height: 12px;
}

#login-error-section {
    display: flex;
    align-items: center;

    height: 15px;
    width: 375px;

    margin: 15px;
    margin-left: 0px;
}

#exclamation-mark {
    margin-right: 5px;

}
