.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-form>input {
    height: 50px;
    width: 375px;
    outline: none;

    padding: 15px;
}


.login-form-email-input {
    border: 1px solid var(--gray);
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.login-form-email-input:focus-within {
    border: 2px solid black;
}
.email-email {
    border-bottom: 1px solid transparent;
}


.login-form-password-input {
    border: 1px solid var(--gray);
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.login-form-password-input:focus-within {
    border: 2px solid black;
}
.password-password {
    border-top: 1px solid transparent;
}
.password-null {
    border-top: none;
}


.login-error-section {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;

    height: 15px;
    width: 375px;

    margin: 15px;
    margin-left: 0px;
}

.exclamation-mark {
    margin-right: 5px;

}

.demo-login-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.demo-login-button {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 5px;
    height: 25px;
    width: 100px;

    text-decoration: underline;

    background-color: inherit;
}

.demo-login-button:hover {
    background-color: #f7f7f7;
}
