/* ------------------------------- Page General ------------------------------- */
.spot-detail-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    margin: auto;
    margin-top: 20px;
}

/* ------------------------------- Divider Line ------------------------------- */
.spot-line {
    border-bottom: 2px solid var(--off-white);
    width: 90vw;
    max-width: 1150px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}


/* ------------------------------ Review Section ------------------------------ */
.review-section {
    margin-bottom: 50px;
    max-width: 90vw;
    width: 1150px;
}

.review-header {
    display: flex;
    align-items: center;
    font-size: 20px;
}

.reviews {
    gap: 30px;
}


/* ------------------------- Common Children CSS Rules ------------------------- */
.review-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;

    width: 40px;
    height: 40px;

    border-radius: 100%;
    background-color: #6A6A6A;

    font-size: 10px;
    color: white;
}

.review-user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.review-date {
    color: gray;
    font-size: var(--12);
    margin-top: 3px;
}

.other-reviews-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
