/* ------------------------------------------------------------------------------------- */
/* Create Spot Page 1 */
.create-spot-0-container {
    gap: 3em;
}

/* Left section */
.create-spot-0-left-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.create-spot-0-left {
	width: 10em;

	font-size: 55px;
	font-weight: 600;
}

/* Right section */
.create-spot-0-right-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.create-spot-0-step-container {
	display: flex;
	flex-direction: row;

	gap: 1em;

	width: 45em;
}

.create-spot-0-step-number {
	font-size: 22px;
	font-weight: 550;
}

.create-spot-0-step-text {
	display: flex;
	flex-direction: column;

	gap: 0.5em;
}

.create-spot-0-step-header {
	font-size: 22px;
	font-weight: 550;
}

.create-spot-0-step-desc {
	font-size: 18px;
	font-weight: 400;
}
