/* ------------------------------------------------------------------------------------- */
/* Create Spot Main container (for all pages) */
.create-spot-main-container {
	display: flex;
	flex-direction: column;
	height: calc(100vh - 10em);
}

/* ------------------------------------------------------------------------------------- */
/* Create Spot Footer */
.create-spot-footer-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: end;
	gap: 0.5em;

	position: fixed;
	left: 0;
	right: 0;
	bottom: 50px;

	background-color: white;
}

.create-spot-footer-bar {
	width: 100%;

	background-color: rgb(221, 221, 221);
	height: 0.5em;
}

/* "Get Started" footer button */
.create-spot-get-started-button {
	height: 4em;
	width: 12em;

	margin-right: 3em;
}

.create-spot-separator-line {
	border-top: 1px solid lightgray;
	width: 90%;

	margin: 1em;
	margin-bottom: 1.75em;
}

/* ------------------------------------------------------------------------------------- */
/* Create Spot CSS */

/* .create-spot-main {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-top: 70px;
} */

/* ------------------------------------------------------------------------------------- */
/* Create Spot Left Section */

/* .left {
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(magenta, blue);
	height: 91.7vh;
	padding: 5px;
} */

/* .left-header {
	display: flex;
	justify-content: center;
	color: white;
} */

/* ------------------------------------------------------------------------------------- */
/* Create Spot Right Section */

/* .right {
	margin-top: 10px;
	margin-right: 10px;
	height: 91.7vh;
} */

/* .right-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 88vh;
} */

/* .create-spot-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50%;
	font-size: 14px;
} */

/* .create-spot-form > * {
	width: 200px;
	padding: 5px;
	margin: 5px;
} */

/* .submit-button-div {
	display: flex;
	justify-content: center;
} */

/* .submit-button {
	display: flex;
	justify-content: center;
	width: 170px;

	padding: 25px;

	border-radius: 15px;
} */

/* .submit-button:hover {
	color: white;
	background-color: 202020;
} */

/* .back-button-container {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 5px;
	text-decoration: none;
} */

/* .back-button-container > * {
	text-decoration: none;
} */

/* .back-button {
	display: flex;
	border-radius: 10px;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	width: fit-content;

	color: black;
	font-size: small;

	background-color: #ebebeb;
} */

/* .back-button:hover {
	font-weight: 550;
} */
