/* ------------------------------------------------------------------------------------- */
/* Create Spot Main container (for all pages) */
.create-spot-main-container {
	display: flex;
	flex-direction: column;
	height: calc(100vh - 5em - 50px);
}

/* Create Spot Page */
.create-spot-container {
    display: flex;
	justify-content: center;
	align-items: center;
    flex: 1; 
}

/* ------------------------------------------------------------------------------------- */
/* Create Spot Footer */
.create-spot-footer-container {
	display: flex;
	flex-direction: row;
	align-items: center;

	height: 5em;

	background-color: white;
}

.create-spot-footer-bar {
	width: 100%;

	background-color: rgb(221, 221, 221);
	height: 0.5em;
}

.create-spot-footer-section-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    gap: 0.5em;
}

.create-spot-footer-section-true {
	height: 0.5em;
	background-color: orange;
}

.create-spot-footer-section-false {
	height: 0.5em;
	background-color: blue;
}

.create-spot-footer-buttons-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	width: 100%;
}

/* Create Spot Footer Buttons - Left */
.create-spot-footer-buttons-left {
	margin-left: 3em;
}

.create-spot-footer-back-button {
	font-size: 16px;
	font-weight: 550;
	text-decoration: underline;

	color: #222222;
}

.create-spot-footer-back-button:hover {
	color: black;
}

/* Create Spot Footer Buttons - Right */
.create-spot-footer-buttons-right {
	margin-right: 3em;
}

.create-spot-get-started-button {
	width: 11em;
}

.create-spot-next-button {
	display: flex;
	justify-content: center;
	align-items: center;

	height: 3em;
	width: 6em;

	color: white;
	font-weight: 500;
	font-size: 18px;

	border-radius: 0.5em;

	background-color: #222222;
}

.create-spot-next-button:hover {
	background-color: black;
}

/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* Create Spot CSS */

/* .create-spot-main {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-top: 70px;
} */

/* ------------------------------------------------------------------------------------- */
/* Create Spot Left Section */

/* .left {
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(magenta, blue);
	height: 91.7vh;
	padding: 5px;
} */

/* .left-header {
	display: flex;
	justify-content: center;
	color: white;
} */

/* ------------------------------------------------------------------------------------- */
/* Create Spot Right Section */

/* .right {
	margin-top: 10px;
	margin-right: 10px;
	height: 91.7vh;
} */

/* .right-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 88vh;
} */

/* .create-spot-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50%;
	font-size: 14px;
} */

/* .create-spot-form > * {
	width: 200px;
	padding: 5px;
	margin: 5px;
} */

/* .submit-button-div {
	display: flex;
	justify-content: center;
} */

/* .submit-button {
	display: flex;
	justify-content: center;
	width: 170px;

	padding: 25px;

	border-radius: 15px;
} */

/* .submit-button:hover {
	color: white;
	background-color: 202020;
} */

/* .back-button-container {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 5px;
	text-decoration: none;
} */

/* .back-button-container > * {
	text-decoration: none;
} */

/* .back-button {
	display: flex;
	border-radius: 10px;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	width: fit-content;

	color: black;
	font-size: small;

	background-color: #ebebeb;
} */

/* .back-button:hover {
	font-weight: 550;
} */
