#signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#signup-form>input {
    height: 15px;
    width: 375px;
    outline: none;

    padding: 15px;

    border: 1px solid rgb(176, 176, 176);
    border-bottom: none;
}

#signup-form>input:focus {
    border: 2px solid black;
    width: 373px;
    height: 12px;
}

#signup-first-name-input {
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

#signup-form>#signup-confirm-input {
    border-bottom: 1px solid rgb(176, 176, 176);
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

#signup-form>#signup-confirm-input:focus {
    border: 2px solid black;
    width: 373px;
    height: 13px;
}

#signup-error-section {
    display: flex;
    flex-direction: column;
    justify-content: start;

    list-style-type: none;

    height: fit-content;
    width: 375px;

    margin: 15px;
    margin-left: 0px;
}
