#signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#signup-form>* {
    height: 15px;
    width: 375px;
    outline: none;

    padding: 15px;

    border: 1px solid rgb(176, 176, 176);
    border-bottom: none;
}

#signup-form>*:focus {
    border: 2px solid black;
    width: 373px;
    height: 13px;
}

#signup-error-section {
    border: none;
}

#signup-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;

    outline: none;
    border: none;
    border-radius: 5px;

    background-color: rgb(215, 4, 102);
    transition: background-color 0.1s;
}

#signup-button:hover {
    background-color: rgb(230, 30, 77);
}

#signup-button>* {
    display: flex;
    justify-content: center;
    align-items: center;

}


#signup-first-name-input {
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

#signup-confirm-input {
    border-bottom: 1px solid rgb(176, 176, 176);
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
