/* ------------------------------------------------------------------------ */
/* spot section */

.spot-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1000px
}

.spot-section>* {
    padding: 0px;
    margin: 0px;
}

.spot-header {
    display: flex;
    justify-self: start;
    font-size: 28px;
}

.spot-subheader {
    display: flex;
    flex-direction: row;

    height: 30px;
}

.spot-subheader>* {
    display: flex;
    align-items: center;

    padding-right: 5px;
    font-size: 14px;
}

.spot-star-icon {
    padding-right: 3px;
}

/* causes issue on front page of spots */
.spot-header-image {
    margin-top: 25px;
    object-fit: cover;
    border-radius: 10px;
}
