.user-review-info-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.submit-review-button {
    /* display: flex;
    justify-content: center;
    align-items: center;

    width: 125px;
    margin-top: 15px;

    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;

    padding: 30px; */
}

.user-review-section {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.review-edit-container {
    display: flex;
    flex-direction: row;

    gap: 10px;
    margin-bottom: 15px;
}

.review-edit {
    margin-right: 10px;
}

.hover-hidden {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.user-review-section:hover .hover-hidden {
    opacity: 1;
}
