/* src/components/Spot/Spot.css */
/* Single Spot CSS */

.spot-container {
    margin: 0.75em;
}

.spot-description {
    display: flex;
    flex-direction: column;

    gap: 3px;
    margin-top: 7px;

    max-width: 20em;
}

.spot-city {
    color: #717171;
}

.spot-price-container {
    display: flex;
    gap: 3px;
}
