/* src/components/Spot/Spot.css */
/* Single Spot CSS */

.spot-container {
    height: 440px;
    width: 375px;
    margin: 12px;

    /* margin-top: 20px;
    padding: 12px;
    padding-bottom: 90px; */
}

.spot-description {
    display: flex;
    flex-direction: column;

    gap: 3px;
    margin-top: 7px;
}

.spot-city {
    color: #717171;
}

.spot-price-container {
    display: flex;
    gap: 3px;
}
