.review-form-container {
    border-radius: 15px;
    height: fit-content;
    width: 450px;
    background-color: var(--white);
    padding-bottom: 50px;
}

.review-form-section {
    display: flex;
    justify-content: center;
}

.review-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 80%;

    gap: 15px;
}

.review-form-title {
    display: flex;
    justify-content: center;

    font-size: 24px;
    font-weight: var(--semi-bold);
}

.review-input {
    padding: 15px;
    width: 350px;
    height: 150px;
    word-wrap: break-word;

    border: 1px solid var(--gray);
    border-radius: 15px;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

.submit-review-button {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

    width: 175px;
    height: 50px;
    padding-top: 20px;
    padding-bottom: 20px;

    border-radius: 10px;
}


.review-exit-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

.star-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 30px;
}

.star-unselected {
    transition: color 0.25s linear;
}

.star-selected {
    color: var(--red);
    transition: color 0.25s linear;
}


.review-error-container {
    display: flex;
    flex-direction: column;

    width: 350px;
    gap: 5px;

    color: red;
}


.error-open {
    display: grid;
    grid-template-rows: 1fr;
    transition: all 0.5s ease;
}

.error-close {
    display: grid;
    grid-template-rows: 0fr;
    transition: all 0.5s ease;
}

.overflow-hidden {
    overflow: hidden;
}
