.create-spot-1a-container {
	gap: 4em;
}

/* Create Spot Step 2 - Left container */
.create-spot-1a-left-container {
	display: flex;
	flex-direction: column;

	margin-left: 1em;

	gap: 1.3em;

	width: 40em;
}

.create-spot-1a-step {
	font-size: 18px;
	font-weight: 600;
}

.create-spot-1a-header {
	font-size: 45px;
	font-weight: 550;
	letter-spacing: -0.05em;
}

.create-spot-1a-desc {
	font-size: 18px;
	line-height: 1.5em;
	letter-spacing: -0.03em;
	font-weight: 500;
}

/* Create Spot Step 2 - Right container */
.create-spot-1a-right-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.create-spot-1a-video {
	height: auto;
	width: 50em;
}
