:root {
    --gray: #B0B0B0;
    --dark-gray: #717171;
    --red: rgb(193, 53, 21);
    --white: #FFFFFF;
    --off-white: #f7f7f7;
    --bold: bold;
    --semi-bold: 600;
    --10: 10px;
    --12: 12px;
    --14: 14px;
    --16: 16px;
    --18: 18px;
}

body {
    position: relative;
    font-family: Montserrat;
    font-size: var(--14);
}

button {
    font-family: Montserrat;
}


/* --------------------------------------------------- Display CSS --------------------------------------------------- */
.df-r {
    display: flex;
    flex-direction: row;
}

.df-c {
    display: flex;
    flex-direction: column;
}


/* ----------------------------------------------------- Margin CSS ----------------------------------------------------- */
.m-5 {
    margin: 5px;
}

.m-t-5 {
    margin-top: 5px;
}

.m-b-5 {
    margin-bottom: 5px;
}

.m-l-5 {
    margin-left: 5px;
}

.m-r-5 {
    margin-right: 5px;
}

.m-10 {
    margin: 10px;
}

.m-t-10 {
    margin-top: 10px;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-l-10 {
    margin-left: 10px;
}

.m-r-10 {
    margin-right: 10px;
}

.m-15 {
    margin: 15px;
}

.m-t-15 {
    margin-top: 15px;
}

.m-b-15 {
    margin-bottom: 15px;
}

.m-l-15 {
    margin-left: 15px;
}

.m-r-15 {
    margin-right: 15px;
}

.m-20 {
    margin: 20px;
}

.m-t-20 {
    margin-top: 20px;
}

.m-b-20 {
    margin-bottom: 20px;
}

.m-l-20 {
    margin-left: 20px;
}

.m-r-20 {
    margin-right: 20px;
}

.m-25 {
    margin: 25px;
}

.m-t-25 {
    margin-top: 25px;
}

.m-b-25 {
    margin-bottom: 25px;
}

.m-l-25 {
    margin-left: 25px;
}

.m-r-25 {
    margin-right: 25px;
}


/* ----------------------------------------------------- Gap CSS ----------------------------------------------------- */
.gap-5 {
    gap: 5px;
}

.gap-10 {
    gap: 10px;
}

.gap-15 {
    gap: 15px;
}

/* ---------------------------------------------------- Color CSS ---------------------------------------------------- */

.color-dark-gray {
    color: var(--dark-gray);
}

.color-red {
    color: var(--red);
}

.color-off-white {
    color: var(--off-white);
}

.color-white {
    color: var(--white);
}

/* ------------------------------------------------- Background CSS ------------------------------------------------- */
.bg-white {
    background-color: var(--white);
}

.bg-white-hover:hover {
    background-color: var(--white);
    transition: all 0.2s linear;
}

.bg-off-white {
    background-color: var(--off-white);
}

.bg-off-white-hover:hover {
    background-color: var(--off-white);
    transition: all 0.2s linear;
}

/* --------------------------------------------------- Border CSS --------------------------------------------------- */
.border-none {
    border: none;
}

.border-black {
    border: 1px solid black;
}

.border-gray {
    border: 1px solid var(--gray);
}

.border-235 {
    border: 1px solid rgb(235, 235, 235);
}

.border-top-235 {
    border-top: 1px solid rgb(235, 235, 235);
}

.border-bot-235 {
    border-bottom: 1px solid rgb(235, 235, 235);
}

/* ---------------------------------------------------- Font CSS ---------------------------------------------------- */
.font-10 {
    font-size: var(--10);
}

.font-12 {
    font-size: var(--12);
    font-size: 12px;
}

.font-14 {
    font-size: var(--14);
}

.font-16 {
    font-size: var(--16);
}

.font-18 {
    font-size: var(--18);
}

.font-bold {
    font-weight: var(--bold);
}

.font-semi-bold {
    font-weight: var(--semi-bold);
}

.font-underline {
    text-decoration: underline;
}

.overflow-hidden {
    overflow: hidden;
}


/* --------------------------------------------------- Mouse CSS --------------------------------------------------- */
.mouse-pointer {
    cursor: pointer;
}

.mouse-hidden {
    display: none;
}

.mouse-hidden-container {
    position: relative;
}

.mouse-hidden-container:hover .hidden {
    display: block;
}

/* --------------------------------------------------- Shadow CSS --------------------------------------------------- */
.shadow {
    box-shadow: 0 0 3mm rgb(219, 219, 219);
}

/* ---------------------------------------------------- Modal CSS ---------------------------------------------------- */
.modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-form-container {
    border-radius: 15px;
    height: 500px;
    width: 450px;
    background-color: var(--white);
}

.modal-form-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(235, 235, 235);
    font-weight: var(--bold);
}

.modal-exit-button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

/*# sourceMappingURL=index.css.map */
