.header-wrapper {
	display: flex;
	justify-content: center;

	position: fixed;
	left: 0;
	right: 0;
	top: 0;

    z-index: 100;

    background-color: white;
}

/* ------------------------------------------------------------------------------------- */
/* Header Main Container */

.header-main-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	height: 5em;

	margin-left: 15em;
	margin-right: 14em;
	width: 100vw;
}

/* ------------------------------------------------------------------------------------- */
/* Header Left Section */

.header-lairbnb-icon-container {
	display: flex;
	flex-direction: row;

	justify-content: center;
	align-items: center;
}

.lairbnb-icon {
	display: flex;
	border: none;
	justify-content: center;
	align-items: center;
	margin-right: 0.5em;

	object-fit: cover;
	height: 3em;
	width: auto;
}

.lairbnb-header-text {
	font-size: x-large;
	text-decoration: none;
	color: rgb(255, 56, 92);
}

/* ------------------------------------------------------------------------------------- */
/* Header Right Section */

.header-right-container {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.header-host-button-container {
	display: flex;

	margin-right: 20px;
	height: 40px;
}

.header-host-button {
	padding-left: 20px;
	padding-right: 20px;
	font-size: 15px;

	border-radius: 30px;
}
