.create-spot-2-container {
	display: flex;
	justify-content: center;
	align-items: center;
    flex: 1; 

    gap: 4em;
}

/* Create Spot Step 2 - Left container */
.create-spot-2-left-container {
    display: flex;
    flex-direction: column;
    
    margin-left: 1em;
    
    gap: 1.3em;
        
    width: 40em;
}

.create-spot-2-step {
    font-size: 18px;
    font-weight: 600;
}

.create-spot-2-header {
    font-size: 45px;
    font-weight: 550;
    letter-spacing: -0.05em;
}

.create-spot-2-desc {
    font-size: 18px;
    line-height: 1.5em;
    letter-spacing: -0.03em;
    font-weight: 500;
}

/* Create Spot Step 2 - Right container */
.create-spot-2-right-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.create-spot-2-video {
    height: auto;
    width: 50em;
}